<html ng-app="APPNAME">
	<!-- This page uses AngularJS -->
	<head>
	    <title>::SEARCH::</title>
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	    <script src="/js/AJS_SOURCE.js"></script>
	    <link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>

	<body ng-controller="CTRLNAME">
	    <div>
	        <div>
	            <table border="1">
	                <tr>
	                    <td>SEARCH COUNTRY or CITY</td>
	                </tr>
	                <tr>
	                    <td><input type="text" ng-model="MODEL's VARIABLE"></td>
	                    <td><button ng-click="FUNCTION()">search</button></td>
	                </tr>
	            </table>
	        </div>
	        <hr>
	    </div>

	</body>

</html>