<html ng-app="searchApp">
	<!-- This page uses AngularJS -->
	<head>
	    <title>::SEARCH::</title>
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	    <script src="/js/search-control.js"></script>
	    <link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>

	<body ng-controller="UserCtrl">
	    <div>
	    	<tr>
                <td><input type="text" ng-model="user_input"></td>
                <button ng-click="showPage(user_input)">Search</button>

            </tr>
	    </div>

	</body>

</html>